<!doctype html>
{%load static%}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/store/medicine-order.css" />
    <link rel="stylesheet" href="static/store/item.css" />
    <link rel="stylesheet" href="static/store/footer.css"/>

  <title>Ns Med</title>

  <style>
    nav{
      background-color: white;
    }
    .one-edge-shadow {
              box-shadow: 0 8px 2px -5px rgb(246, 245, 245);
}
.display-8{
  font-weight: 200;
  font-size: 30px;
}
  </style>
</head>

<body>
<!-- Navigation Bar starts here -->
  <div class="header">
      <a href='/'><img class="header_logo" src="static/store/nsmed.jpg" alt="logo" /></a>
      <div class="header_search">
        <form method='get' action='/Store/search'>
        <div class="icons">
          <input
            class="header_searchInput"
            placeholder="Search for Products"
            type="text"
            name="search" id="search"
          />
          <div class="input-group-btn"  >
            <button class="btn btn-default" type="submit" style="width: 140%; height: 70%; color: white;
             background-color: rgb(50, 174, 177); border-color: black; border-width: medium;">
                Search
            </button>
          </div>
        </div>
        </form>

        <div class="main_navigation">
          <div class="nav_option">
            <img class="medicine" src="static/store/medicine.jpg" alt="" />
            <a href="medicines" style="text-decoration: none;">
            <span class="nav_optionOne">
              Medicine
              <small>over 2500 Medicine</small>
            </span>
            </a>
          </div>
          <div class="nav_option">
            <img class="medicine" src="static/store/wellness.jpg" alt="" />
            <a href="wellness" style="text-decoration: none;">
            <span class="nav_optionOne">
              Wellness
              <small>Health Products</small>
            </span>
            </a>
          </div>
          <div class="nav_option">
            <img class="medicine" src="static/store/diagnostic.png" alt="" />
            <a href="lab" style="text-decoration: none;">
            <span class="nav_optionOne">
              Diagnostic
              <small>Book tests and checkups</small>
            </span>
            </a>
          </div>
          <div class="nav_option">
            <img class="medicine" src="static/store/health.png" alt="" />
            
            <a href="covid" style="text-decoration: none;">
            <span class="nav_optionOne">
              Covid-19
              <small>Essentials products to fight with Covid-19</small>
            </span>
          </a>
          </div>
        </div>
      </div>

        <a href="/cart" style="text-decoration: none;">
        <div class="header_option">
            <img src="static/store/cart.jpg" style="width: 40px; height: 40px; border-radius: 50%;">
            <span class="header_optionOne badge badge-info" style="text-align: center;">{{request.session.cart.keys|length}}</span>
            <span class="sr-only">(current)</span></a>
          </div>
          </a>

        
      <div class="header_nav">
        {% if request.session.customer %}
          <a href="/orders" style="text-decoration: none;">
          <div class="header_option">
          <img src="static/store/User.png" style="width: 40px; height: 40px; border-radius: 50%;">
            <span class="header_optionOne">Your Orders</span>
          </div>
          </a>

          <a href="/logout" style="text-decoration: none;">
          <div class="header_option">
            <img src="static/store/logout.png" style="width: 40px; height: 40px; border-radius: 50%;">
            <span class="header_optionOne">Logout</span>
          </div>
          </a>

        {% else %}
            
          <a href="/signup" style="text-decoration: none;">
          <div class="header_option">
            <img src="static/store/logout.png" style="width: 40px; height: 40px; border-radius: 50%;">
            <span class="header_optionOne">Signup</span>
          </div>
          </a>
          <a href="/login" style="text-decoration: none;">
          <div class="header_option">
            <img src="static/store/logout.png" style="width: 40px; height: 40px; border-radius: 50%;">
            <span class="header_optionOne">Login</span>
          </div>
          </a>
        {% endif %}
      </div>
    </div>
    <!-- Navigation Bar ends here -->


    {% block content %}
    {% endblock %}

<!-- Footer starts here -->    
<footer>
    <div class="footer-bottom">
        <p> &copy; 2021 Ns-Med. All rights reserved. In compliance with Drugs and Cosmetics Act, 1940 and Drugs and Cosmetics Rules, 1945, we don't process requests for Schedule X and other habit forming drugs.
            <span>MedHunt</span></p>                
            <ul class="socials">
                <li><a href="/about"><i class="fa fa-facebook">About Us</i></a></li>
                <li><a href="/contact"><i class="fa fa-twitter">Contact Us</i></a></li>
            </ul>
    </div>
</footer>
<!-- Footer ends here -->

  <script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > slides.length) {
        slideIndex = 1;
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
      setTimeout(showSlides, 2000); // Change image every 2 seconds
    }
  </script>

</body>

</html>